name: Deploy RoAdmin Bot

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Google Cloud VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: DISCORD_TOKEN
          script: |
            export DISCORD_TOKEN="${{ secrets.DISCORD_TOKEN }}"
            cd ~/RoAdmin
            git pull origin master
            npm install --production
            pm2 restart RoAdmin --watch
